{% include "header.html" %}
{% load bbcode %}

{% for post in posts %}
	{% if post.rank == "a" or post.rank == "m" %}
		<div class="post-header-admin" id="post-{{ post.id }}">
	{% else %}
		<div class="post-header" id="post-{{ post.id }}">
	{% endif %}
	<a href="{{ forumsettings.FORUM_ROOT }}user/{{ post.poster }}" {% if post.rank == "a" %}style="color:red"{% elif post.rank == "m" %}style="color:purple"{% endif %}>{{ post.poster }}</a>
	{% if post.rank == "a" %}
		<span class="fa fa-bolt" style="color:red" title="Administrator"></span>
	{% elif post.rank == "m" %}
		<span class="fa fa-book" style="color:purple" title="Moderator"></span>
	{% endif %}
	</div>
	
	{% if post.rank == "a" or post.rank == "m" %}
		<div class="post-content-admin">
	{% else %}
		<div class="post-content">
	{% endif %}
	{{ post.content|parse }}
	</div>
	
	{% if post.rank == "a" or post.rank == "m" %}
		<div class="post-footer-admin">
	{% else %}
		<div class="post-footer">
	{% endif %}
	{% if auth %}
	<a href="{{ forumsettings.FORUM_ROOT }}action/report/{{ post.id }}/"><span class="fa fa-exclamation-circle"></span> Report</a>&nbsp;
	<a href="#editor" class="quotebtn" postid="{{ post.id }}"><span class="fa fa-quote-right"></span> Quote</a>&nbsp;
	{% endif %}
	{% if user.is_staff %}
	<a href="{{ forumsettings.FORUM_ROOT }}post/{{ post.id }}/edit/"><span class="fa fa-pencil"></span> Edit</a>&nbsp;
	<a href="{{ forumsettings.FORUM_ROOT }}post/{{ post.id }}/delete/"><span class="fa fa-trash"></span> Delete</a>&nbsp;
	<a href="{{ forumsettings.FORUM_ROOT }}post/{{ post.id }}/movepost/"><span class="fa fa-arrow-circle-right"></span> Move</a>&nbsp;
	{% endif %}
	<a href="#" class="showlink" postid="{{ post.id }}" forumroot="{{ forumsettings.FORUM_ROOT }}"><span class="fa fa-link"></span> Link</span></a>
	</div>
	<br><br>
{% endfor %}

{% include "footer.html" %}