<style>
.item{
	background-color:blue;
	color:white;
	text-decoration:none;
	width:100%;
}

.item:hover{
	text-decoration:underline;
}

.subitem{
	width:80%;
	padding-left:20%;
	background-color:blue;
	color:white;
	text-decoration:none;
}

.subitem:hover{
	text-decoration:underline;
}

.admin{
	background-color:red;
	color:white;
	text-decoration:none;
	width:100%;
}

.admin:hover{
	text-decoration:underline;
}
</style>

<div class='admin'>Welcome, {{user.username}}</div>
<a class='admin' href='{{ forumsettings.FORUM_ROOT }}admin/' target="_parent">View full admin panel ---></a><br>
<a class='admin' href='{{ forumsettings.FORUM_ROOT}}' target="_parent"><--- View forum</a><br>
<br>
<a class='item' href='{{ forumsettings.FORUM_ROOT }}admin/auth/user/?_popup=1' target='adminbar'>Users</a><br>
<a class='subitem' href='{{ forumsettings.FORUM_ROOT }}admin/auth/user/?_popup=1' target='adminbar'>User</a><Br>
<a class='subitem' href='{{ forumsettings.FORUM_ROOT }}admin/Forum/forumuser/?_popup=1' target='adminbar'>Forum User</a><br>
<br>
<a class='item' href='{{ forumsettings.FORUM_ROOT }}admin/Forum/section/?_popup=1' target='adminbar'>Sections</a><br>
<a class='item' href='{{ forumsettings.FORUM_ROOT }}admin/Forum/forum/?_popup=1' target='adminbar'>Forums</a><br>
<br>
<a class='item' href='{{ forumsettings.FORUM_ROOT }}admin/Forum/topic/?_popup=1' target='adminbar'>Topics</a><br>
<br>
<a class='item' href='{{ forumsettings.FORUM_ROOT }}admin/Forum/report/?_popup=1' target='adminbar'>Reports</a>